@import './colors.css';
@import './global.css';
@import './header.css';
@import './footer.css';

main div.time {
  position: relative;
}
main div.time span#clock {
  font-family: 'Barlow', sans-serif;
  font-size: 5em;
  font-weight: 700;
}
main div.time span#midday {
  position: absolute;
  font-family: 'Barlow', sans-serif;
  bottom: 0;
  left: calc(100% + 15px);
  font-weight: 300;
  font-size: 1.6em;
  transition: 0.1s ease;
}
main div.time span#midday.visible {
  visibility: visible;
  opacity: 1;
}
main div.time span#midday.hidden {
  visibility: hidden;
  opacity: 1;
}