@import './colors.css';
@import './global.css';
@import './header.css';
@import './footer.css';

@media (orientation: landscape) {
  main div.time span#clock {
    font-size: 4em;
  }
  main div.time span#midday {
    font-size: 1.4em;
  }
  main div.tools button#switch + label[for="switch"] {
    font-size: 1.1em;
  }
}

@media (orientation: portrait) {
  main div.time span#clock {
    font-size: 3.4em;
  }
  main div.time span#midday {
    font-size: 1.2em;
  }
  main div.tools button#switch + label[for="switch"] {
    font-size: 0.85em;
  }
}

main div.time {
  position: relative;
}
main div.time span#clock {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
main div.time span#midday {
  position: absolute;
  font-family: 'Barlow', sans-serif;
  bottom: 0;
  left: calc(100% + 10px);
  font-weight: 300;
  transition: 0.1s ease;
}
main div.time span#midday.visible {
  visibility: visible;
  opacity: 1;
}
main div.time span#midday.hidden {
  visibility: hidden;
  opacity: 0;
}
main div.tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
main div.tools button#switch {
  width: 60px;
  height: 26px;
  border: none;
  border: 2px solid var(--clr_contrast);
  border-radius: 20px;
  position: relative;
}
main div.tools button#switch.off {
  background: var(--clr_background);
}
main div.tools button#switch.on {
  background: var(--clr_second);
}
main div.tools button#switch::after {
  position: absolute;
  width: 14px;
  height: 14px;
  content: '';
  background: var(--clr_contrast);
  border-radius: 50%;
  top: 4px;
  transition: 0.3s ease;
}
main div.tools button#switch.off::after {
  left: 4px;
}
main div.tools button#switch.on::after {
  left: calc(100% - 18px);
}
main div.tools button#switch + label[for="switch"] {
  transition: 0.3s ease;
}
main div.tools button#switch.off + label[for="switch"] {
  opacity: 0.4;
}
main div.tools button#switch.on + label[for="switch"] {
  opacity: 1;
}